Calculate the end time and the difference (end time - start time) of the sentence

In [ ]:
# Mount your Google Drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# Read an Excel file
import pandas as pd
# This must be changed by the user.
# Please change to the target video name and file path
video_name = 'video14'
##########################################

import_excel_file_location = '/content/drive/MyDrive/05_workspace/01_msc_project/data/output/02_organized_excel/02_organized_excel_' + video_name +'.xlsx'
input_book = pd.ExcelFile(import_excel_file_location)

In [ ]:
# Get sheet name
input_sheet_name = input_book.sheet_names
# Get the number of sheets
num_sheet = len(input_sheet_name)

print ("The number of sheet:", num_sheet)
print (input_sheet_name)

The number of sheet: 1
['Sheet1']

In [ ]:
# Read the sheet as a DataFrame
input_sheet_df = input_book.parse(input_sheet_name[0])
input_sheet_df.head(10)

   Unnamed: 0     start                                    script
0           0  00:02:00  my name is Donna SH and my full-time job
1           1  00:05:00      is to count people's arms and us and
2           2  00:08:00    like it all started at my first day of
3           3  00:11:00         school after my family moved from
4           4  00:14:00       Pakistan to Tanzania not from milan
5           5  00:16:00  I was busy sketching my dream cars in my
6           6  00:20:00     notebook and all of a sudden I hear a
7           7  00:22:00         voice in my direction the teacher
8           8  00:25:00        Daanish can you please rise up and
9           9  00:28:00  introduce yourself she had put me on the

In [ ]:
# Copy original sheet to new sheet
time_info_df = input_sheet_df.copy()
length = len(time_info_df)
#print(length)
#->405

# Add new columns
time_info_df['end'] = 0.0
time_info_df['start_s'] = 0.0
time_info_df['end_s'] = 0.0
time_info_df['diff_s'] = 0.0

In [ ]:
# Let's check the data frame
time_info_df.head()

   Unnamed: 0     start  ... end_s  diff_s
0           0  00:02:00  ...   0.0     0.0
1           1  00:05:00  ...   0.0     0.0
2           2  00:08:00  ...   0.0     0.0
3           3  00:11:00  ...   0.0     0.0
4           4  00:14:00  ...   0.0     0.0

[5 rows x 7 columns]

In [ ]:
# Set the end time from the previous start time
for i in range(length):
    #print(i)
    if length - 1 > i:
        next_start_time = time_info_df['start'][i+1]
    elif length == i:
        next_start_time = time_info_df['start'][i]+1
    
    time_info_df.loc[i,'end'] = str(next_start_time)

In [ ]:
# Let's check the data frame
time_info_df.head()

   Unnamed: 0     start  ... end_s diff_s
0           0  00:02:00  ...   0.0    0.0
1           1  00:05:00  ...   0.0    0.0
2           2  00:08:00  ...   0.0    0.0
3           3  00:11:00  ...   0.0    0.0
4           4  00:14:00  ...   0.0    0.0

[5 rows x 7 columns]

In [ ]:
# Express all times in seconds
time_info_df['start_s'] = [ int(a) * 60 + int(b) + int(c) / 1000 for a, b, c in time_info_df['start'].astype(str).str.split(':')]
time_info_df['end_s'] = [ int(a) * 60 + int(b) + int(c) / 1000 for a, b, c in time_info_df['end'].astype(str).str.split(':')]

In [ ]:
# Let's check the data frame
time_info_df.head()

   Unnamed: 0     start  ... end_s diff_s
0           0  00:02:00  ...   5.0    0.0
1           1  00:05:00  ...   8.0    0.0
2           2  00:08:00  ...  11.0    0.0
3           3  00:11:00  ...  14.0    0.0
4           4  00:14:00  ...  16.0    0.0

[5 rows x 7 columns]

In [ ]:
# get the difference from the end time and the start time
for i in range(length):
    diff = time_info_df['end_s'][i] - time_info_df['start_s'][i]
    time_info_df.loc[i, 'diff_s'] = diff

In [ ]:
# Let's check the data frame
time_info_df.head()

   Unnamed: 0     start  ... end_s diff_s
0           0  00:02:00  ...   5.0    3.0
1           1  00:05:00  ...   8.0    3.0
2           2  00:08:00  ...  11.0    3.0
3           3  00:11:00  ...  14.0    3.0
4           4  00:14:00  ...  16.0    2.0

[5 rows x 7 columns]

In [ ]:
# Export an excel file
import pandas as pd

export_excel_file_location = '/content/drive/MyDrive/05_workspace/01_msc_project/data/output/03_adding_time_info/03_adding_time_information_' + video_name +'.xlsx'
time_info_df.to_excel(export_excel_file_location)